#masthead {
    background-color:#E62429;
    //background: linear-gradient(to bottom right, #6E0C10 0%, #E62429 100%);
    .site-branding {
        img {
            max-width: 150px;
            height: auto;
        }
    }
    
    #site-navigation {
        ul {
            list-style-type: none;
            display: flex;
            li {
                margin: 0 6rem;
            }
        }
        
    }
}